body {
	font-family: 'Karla', sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	vertical-align: baseline;
	text-align: center;
}
strong, b, h1, h2, h3, h4, h5, h6 {
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}
a {
	color: #262626;
	text-decoration: none;
}
.container {
	max-width: 500px;
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
	.center-block();
	.clearfix();

	#main {
		.make-row();
	}
}