.transform( @transform ) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}

.center-excellently() {
	position: absolute;
	top: 50%;
	.transform( translate( -50%, -50% ) );
}