---
layout: default
title: Home
---
{% for page in paginator.posts %}

  <article class="hentry">
    <h2 class="article-title"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>

    {% if page.photo %}
      {% if page.source %}
        <a href="{{ page.source }}" target="_blank">
          <img src="/assets/{{ page.photo }}" alt="{{ page.alt }}" width="{{ site.image.width }}" height="{{ site.image.height }}">
        </a>
      {% else %}
        <img src="/assets/{{ page.photo }}" alt="{{ page.alt }}" width="{{ site.image.width }}" height="{{ site.image.height }}">
      {% endif %}
    {% endif %}

    {{ page.content | markdownify }}
  </article>

{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.url }}/" class="pagination-item previous">The Future</a>
    {% else %}
    <a href="{{ site.url }}/page/{{ paginator.previous_page }}/" class="pagination-item previous">The Future</a>
    {% endif %}
  {% else %}
    <span class="pagination-item previous">The Future</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page/{{ paginator.next_page }}/" class="pagination-item next">The Past</a>
  {% else %}
    <span class="pagination-item next">The Past</span>
  {% endif %}
</div>
