<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
      {% if page.title == "Home" %}
        We Enjoy
      {% else %}
        We Enjoy: {{ page.title }}
      {% endif %}
    </title>

    <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">

    <link rel="alternate" type="application/rss+xml" title="We Enjoy" href="{{ site.url }}/feed/">
  </head>

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.url }}/">We Enjoy</a>
        </h1>

        <ul class="follow">
          <li><a href="https://www.tumblr.com/follow/we-enjoy" target="_blank">Tumblr</a></li>
          <li><a href="{{ site.url }}/feed/" target="_blank" data-exclude>RSS</a></li>
        </ul>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <script async type="text/javascript" src="{{ site.url }}/scripts/app.js"></script>

  </body>
</html>
