---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
      {% if page.title == "Home" %}
        {{ site.name }}
      {% else %}
        {{ site.name }}: {{ page.title }}
      {% endif %}
    </title>

    <link rel="icon" type="image/png" href="/favicon.png">

    <style type="text/css">
      {% capture style %}
        {% include style.scss %}
      {% endcapture %}
      {{ style | scssify }}
    </style>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">
  </head>

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.url }}/">{{ site.name }}</a>
        </h1>

        <ul class="follow">
          <li><a href="https://twitter.com/we_enjoy/" target="_blank">Twitter</a></li>
          <li><a href="https://www.tumblr.com/follow/we-enjoy" target="_blank">Tumblr</a></li>
          <li><a href="{{ site.url }}/feed/" target="_blank" data-exclude>RSS</a></li>
        </ul>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <script async type="text/javascript" src="{{ site.url }}/scripts/app.js"></script>

  </body>
</html>
